/*html{ background-color:antiquewhite;}

footer{
    background-color:white;
    height:35px;
    text-align:center;
    font-size:25px;
    color:blue;
}
nav{ height:40px;
background-color:azure;
text-align:center;
margin:0px;
padding:0px;
}

.dashboard{
    display:grid;
    grid-template-columns:1fr 2fr;
    place-items:center;

}
button{
    background-color:blue;
    color:white;
}*/