<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="form">
    <form action="" method="POST">
         {% csrf_token %}
        <h1>Register Here</h1>
           <label for="fname"> First Name</label>
           <input type="text" id="fname" placeholder="Enter your first name" name="fname"><br>

           <label for="lname"> Last name</label>
           <input type="text" id="lname" placeholder="Enter your Last Name" name="lname"><br>

           <label for="uname"> Username</label>
           <input type="text" id="uname" placeholder="Create a username Username" name="uname"><br>

           <label for="email"> Email</label>
           <input type="email" id="email" placeholder="Enter your Email" name="email"><br>

            <label for="pass"> Password</label>
           <input type="password" id="pass" placeholder="Create a password" name="pass"><br>
        <button type="submit">Submit</button>
        <p>Already have an account? <a href="{% url 'login-page' %}"> Login</a></p>
    </form>
</div>
</body>
</html>